<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:replace="~{fragments/head :: commonHead}"></th:block>

<body class="flex flex-col min-h-screen bg-gray-50 text-gray-900">
    <!-- Header -->
    <header th:replace="~{fragments/header :: commonHeader}"></header>

    <!-- Main Content -->
    <main class="flex-grow px-4">
        <div th:replace="~{${content}}"></div>
    </main>

    <!-- Footer -->
    <footer th:replace="~{fragments/footer :: commonFooter}"></footer>
</body>
</html>
